
body{
    background-color: rgb(19, 18, 18);
    color: white;
}

#bannerSection{
    background-image: url(./lmages/Section\ 1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
   
}

#bannerSection>div{
width: 40%;
padding-top: 33%;
}

#bannerSectionBtn{
    background-color: #e6533c;
}

p{
    font-size: 14px;
    font-weight: normal;
}

.startSectionCard{
    background-color: #232429;
}

#membershipList{
    list-style-type: disc;
}




































@media screen and (max-width:576px) {

body{
    text-align: center;
}

#bannerSection{
    height: 80vh;
   
}

    #bannerSection>div{
        width: 100%;
        padding-top: 80%;
        }










    
}













































